@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Webkit browsers */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  /* Hide scrollbar for Firefox */
  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
  }
  
  /* Hide scrollbar for Internet Explorer, Edge, and older versions of Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }
  